* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
}

.img-logo img{
    width: 200px;
}   

.navigation-project {
    width: 400px;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radis: 10px;
}

.navigation-project ul {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.navigation-project ul li a {
    color: white;
transition: all 0.5s;
}